---
import { Image } from "astro:assets";
---
<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 child:py-8"
  >
      <div class="text-center max-w-4xl mx-auto">
        <Image
          src={"/src/assets/images/logo-NN.gif"}
          width={200}
          height={200}
          densities={[1.5, 2]}
          alt="A description of my image."
          class:list={"h-24 w-auto m-auto my-10"}
        />

        <p
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8 mb-12"
        >
          Depuis 2011, l’agence NN réalise des projets web professionels
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Nous proposons des solutions open source adaptées aux différents types
          de projets frontend et backend, tout en valorisant l’éco-conception,
          l’experience utilisateur et la sécurité.
        </p>
      </div>
      <div class="flex justify-center gap-20 mt-10 flex-col sm:flex-row my-20">
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border hover:bg-black hover:text-white"
          href="/expertises">Expertises</a
        >
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border hover:bg-black hover:text-white"
          href="/portfolio"
          >Portfolio
        </a>
      </div>
  </div>

</section>
