---
const { question, answer, active } = Astro.props;
---

<div
  x-data="{ id: $id('accordion') }"
  :class="{ 'text-black': activeAccordion==id, 'text-zinc-600 hover:text-accent-500': activeAccordion!=id }"
  class="text-black cursor-pointer group"
>
  <button
    @click="setActiveAccordion(id)"
    class="flex items-center justify-between w-full p-4 pb-1 font-medium text-left select-none"
  >
    <span> {question} </span>
    <svg
      class="w-5 h-5 duration-300 ease-out text-accent-500 -rotate-[45deg]"
      :class="{ '-rotate-[45deg]': activeAccordion==id }"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      ><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6"
      ></path></svg
    >
  </button>
  <div x-show="activeAccordion==id" x-collapse="">
    <div class="p-4 pt-2 text-zinc-500">
        {answer}
    </div>
  </div>
</div>
