---
import { Image } from "astro:assets";
import logo from "@assets/images/logo-NN.gif";
---

<section>
  <div
    class="flex-col items-center justify-center w-full p-8 mx-auto max-w-7xl child:py-8 md:px-12 lg:px-24 min-h-[90vh]"
  >
    <div class="max-w-4xl mx-auto text-center">
      <Image
        src={logo}
        width={125}
        height={125}
        alt="Logo Negative Network"
        class:list={"m-auto my-10"}
      />

      <p
        class="mt-8 mb-12 text-4xl font-medium tracking-tight text-black md:text-5xl font-display"
      >
        Depuis 2011, l’agence NN réalise des projets web professionnels
      </p>
      <p class="max-w-2xl mx-auto mt-4 text-base text-gray-500 lg:text-xl">
        Nous proposons des solutions open source adaptées aux différents types
        de projets frontend et backend, tout en valorisant l’éco-conception,
        l’expérience utilisateur et la sécurité.
      </p>
    </div>
    <div class="flex flex-col justify-center gap-10 md:gap-20 sm:flex-row">
      <a
        class="inline-flex items-center justify-center w-full h-12 px-10 py-3 font-medium text-center duration-200 border rounded-xl focus-visible:outline-black focus:outline-none lg:w-auto text-black/80 bg-black text-white hover:bg-white hover:text-black"
        href="/expertises">Expertises</a
      >
      <a
        class="inline-flex items-center justify-center w-full h-12 px-10 py-3 font-medium text-center duration-200 border rounded-xl focus-visible:outline-black focus:outline-none lg:w-auto text-black/80 bg-black text-white hover:bg-white hover:text-black"
        href="/portfolio"
        >Portfolio
      </a>
    </div>
  </div>
</section>
