---
import { Image } from "astro:assets";
import MyImage from "@components/MyImage.astro";
import solutions from "../../content/collections/solutions.json";
---

<section class="py-24 bg-black">
  <div class="flex flex-wrap items-center justify-center max-w-4xl m-auto">
    <h2
      class="mb-20 text-4xl font-medium tracking-tight text-center text-white md:text-5xl font-display"
    >
      Nos outils
    </h2>
    <div class="flex flex-wrap items-center justify-center max-w-4xl m-auto">
      {
        solutions.map((solution) => (
          <div class="p-4 w-1/2 md:w-auto flex items-center justify-center">
            <a
              href={solution.url}
              class="flex-col items-center justify-center"
              target="_blank"
            >
              <MyImage
                imageSrc={solution.image}
                imageAlt={"Logo "+solution.name}
                imageClasses={"h-12 w-auto h-12 w-auto mx-10 my-4"}
              />

              <p class="text-center text-gray-200">{solution.name}</p>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
