---
import { Image } from "astro:assets";
import solutions from "../../content/solutions.json";

const solutionsImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/clients/*.{jpeg,jpg,png,gif,svg}"
);
---

<section class="py-24 bg-black">
  <div class="flex flex-wrap items-center justify-center max-w-4xl m-auto">
    <h2
      class="mb-20 text-4xl font-medium tracking-tight text-center text-white md:text-5xl font-display"
    >
      Nos outils
    </h2>
    <div class="flex flex-wrap items-center justify-center max-w-4xl m-auto">
      {
        solutions.map((solution) => (
          <div class="p-4">
            <a href={solution.url} class="flex-col items-center justify-center" target="_blank">
              <Image
                src={"/src/assets/images/logos/" + solution.image}
                width={100}
                height={100}
                densities={[1.5, 2]}
                alt={solution.image}
                class:list={"h-12 w-auto mx-10 my-4"}
              />
              <p class="text-center text-gray-200">{solution.name}</p>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
