---
import IconText from "../global/IconText.astro"
---
<section id="features">
  <div
    class="items-center w-full px-8 py-24 mx-auto lg:px-24 max-w-7xl md:px-12 scroll-mt-12"
  >
    <div class="max-w-xl mx-auto text-center">
      <div>
        <p
          class="text-4xl font-medium tracking-tight text-black md:text-5xl font-display"
        >
          Notre savoir faire
        </p><p
          class="mx-auto mt-4 text-lg tracking-tight text-gray-500 text-na"
        >
          Negative Network est une agence web spécialisée dans la création, les
          refontes et la maintenance des sites et applications web. Consulting,
          assitance à maitrise d'ouvrage, gestion de projet, développement
          technique, nous maitrisons l'ensemble des étapes de la création de
          sites et d'applications web.
        </p>
      </div>
    </div>
    <div>
      <div class="pt-12 mx-auto max-w-7xl">
        <!-- <h2 class="sr-only">Features.</h2><div> -->
        <div
          class="grid grid-cols-1 gap-12 lg:space-y-0 lg:text-center md:grid-cols-3"
        >
        
          <IconText
            icon="home-outline"
            title="Sites vitrines"
            description=""
          />

          <IconText
            icon="business-outline"
            title="Sites institutionnels"
            description=""
          />

          <IconText
            icon="cart-outline"
            title="Sites e-commerce"
            description=""
          />

          <IconText
            icon="code-outline"
            title="Développements spécifiques"
            description=""
          />

          <IconText
            icon="git-network-outline"
            title="Création d'API"
            description=""
          />

          <IconText
            icon="card-outline"
            title="Paiement en ligne"
            description=""
          />

          <IconText
            icon="phone-portrait-outline"
            title="Intégration responsive"
            description=""
          />

          <IconText
            icon="swap-horizontal-outline"
            title="Migrations"
            description=""
          />

          <IconText
            icon="server-outline"
            title="Bases de données"
            description=""
          />

          
        </div>
      </div>
    </div>
  </div>
</section>
