---
import { Image } from "astro:assets";
import solutions from "../../content/solutions.json";

const solutionsImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/clients/*.{jpeg,jpg,png,gif,svg}"
);
---

<section class="bg-gray-500 py-24">
  <div class="max-w-4xl m-auto flex flex-wrap items-center justify-center">
    <h2
      class="text-center text-4xl tracking-tight font-medium text-gray-400 md:text-5xl font-display mb-20"
    >
      Nos outils
    </h2>
    <div class="max-w-4xl m-auto flex flex-wrap items-center justify-center">
      {
        solutions.map((solution) => (
          <div class="p-4">
            <a href={solution.url} class="flex-col items-center justify-center">
              <Image
                src={"/src/assets/images/logos/" + solution.image}
                width={100}
                height={100}
                densities={[1.5, 2]}
                alt="A description of my image."
                class:list={"h-12 w-auto mx-10 my-4"}
              />
              <p class="text-center text-gray-400">{solution.name}</p>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
