<section>
  <div
    class="items-center w-full px-8 py-24 mx-auto lg:px-24 max-w-7xl md:px-12"
  >
    <div>
      <p
        class="text-4xl font-medium tracking-tight text-black md:text-5xl font-display"
      >
      Le feedback <span class="sm:block"
          >de clients satisfaits</span
        >
      </p>
    </div>
    <ul
      class="grid grid-cols-1 gap-4 mt-12 lg:mt-24 lg:gap-8 sm:grid-cols-2 lg:grid-cols-3"
    >
    <li>
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex gap-x-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
          </div>
          <p class="mt-4 text-gray-500 lg:text-sm">
            "Negative Network s'occupe de la réalisation de nos projets web depuis 2011, que dire de plus !?"
          </p>
        </div>
        <footer class="mt-8">
          <p class="text-gray-500 lg:text-sm font-display">Antoine G.</p>
          <p><small>CEO de Ad's up Consulting</small></p>
          <!-- <img class="h-8 mt-4" src="/assets/brands/Attentive.svg" alt="" /> -->
        </footer>
      </div>
    </li>
    <li>
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex gap-x-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
          </div>
          <p class="mt-4 text-gray-500 lg:text-sm">
            "Negative Network s'occupe de la réalisation de nos projets web depuis 2011, que dire de plus !?"
          </p>
        </div>
        <footer class="mt-8">
          <p class="text-gray-500 lg:text-sm font-display">Antoine G.</p>
          <p><small>CEO de Ad's up Consulting</small></p>
          <!-- <img class="h-8 mt-4" src="/assets/brands/Attentive.svg" alt="" /> -->
        </footer>
      </div>
    </li>
    <li>
      <div class="flex flex-col justify-between h-full">
        <div>
          <div class="flex gap-x-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-star fill-accent-500 stroke-accent-500"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="none"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
              ></path>
            </svg>
          </div>
          <p class="mt-4 text-gray-500 lg:text-sm">
            "Negative Network s'occupe de la réalisation de nos projets web depuis 2011, que dire de plus !?"
          </p>
        </div>
        <footer class="mt-8">
          <p class="text-gray-500 lg:text-sm font-display">Antoine G.</p>
          <p><small>CEO de Ad's up Consulting</small></p>
          <!-- <img class="h-8 mt-4" src="/assets/brands/Attentive.svg" alt="" /> -->
        </footer>
      </div>
    </li>
    </ul>
  </div>
</section>
