---
import FaqQA from "../sections/FaqQA.astro";
---
<section>
  <div
    class="items-center w-full px-8 py-24 mx-auto lg:px-24 max-w-7xl md:px-12 scroll-mt-12"
  >
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Questions fréquemment posées
          </p>
          <p class="mt-4 text-base text-zinc-500">
            <!-- Réponses aux questions fréquemment posées sur notre plateforme -->
          </p>
        </div>
      </div>
      <div
        x-data="{
  activeAccordion: '',
  setActiveAccordion(id) {
  this.activeAccordion = (this.activeAccordion == id) ? '' : id
  }
  }"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
      
      <FaqQA
        question="Tarification"
        answer=""
      />
      <FaqQA
        question="Temps de réponse"
        answer=""
      />
      <FaqQA
        question="Tarification"
        answer=""
      />

      </div>
    </div>
  </div>
</section>
