---
import FaqQA from "../sections/FaqQA.astro";
import { Image } from "astro:assets";
import faqImage from "@assets/images/faq.jpg";
---

<section>
  <div
    class="items-center w-full px-8 py-24 mx-auto lg:px-24 max-w-7xl md:px-12 scroll-mt-12"
  >
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-12">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display"
          >
            Questions fréquemment posées
          </p>
          <Image
            src={faqImage}
            alt="Gestion de projet"
            class:list={"w-full h-auto my-10 rounded-2xl "}
          />
          <!-- <p class="mt-4 text-base text-zinc-500">
            Réponses aux questions fréquemment posées sur notre plateforme
          </p> -->
        </div>
      </div>
      <div
        x-data="{
  activeAccordion: '',
  setActiveAccordion(id) {
  this.activeAccordion = (this.activeAccordion == id) ? '' : id
  }
  }"
        class="relative w-full mx-auto font-normal lg:col-span-2"
      >
        <FaqQA question="Comment fonctionne notre tarification ?" answer="Nous fonctionnons sur devis pour les nouveaux projets. Pour la maintenance (évolutive ou corrective), nous pouvons mettre en place un contrat de maintenance avec du temps d'intervention garanti, ou bien facturer au temps d'intervention." />
        <FaqQA question="Délais d'intervention" answer="Nous avons une politique de temps d'intervention sous 2 jours ouvrés pour les problèmes critiques et 5 jours ouvrés pour les problèmes non critiques. Cela dit, nous intervenons en moyenne en moins d'une heure sur les pannes." />
        <FaqQA question="Mesures de sécurité" answer="Nous sécurisons nos sites WordPress à l'aide d'extensions de sécurité, d'installations Roots Bedrock, et de mise en place de sauvegardes sur des serveurs distants, ainsi que du monitoring 24h/24 sur erreurs et disponibilité des sites. Pour les solutions Laravel, nous respectons les bonnes pratiques officielles de sécurité et effectuons les mises à jour." />
        <FaqQA question="Quels sont les moyens de paiement acceptés ?" answer="Nous acceptons les paiements par virement bancaire et chèques. Nous pouvons également mettre en place un paiement par prélèvement automatique pour les contrats de maintenance." />
        <FaqQA question="Quels sont les délais de paiement ?" answer="Les délais de paiement sont de 30 jours à réception de facture pour les contrats de maintenance. Pour les nouveaux projets, nous demandons un acompte de 30% à la signature du devis, puis le solde à la livraison du projet." />
        <FaqQA question="Période de maintenance gratuite" answer="Après livraison d'un nouveau site ou d'une nouvelle application, nous effectuons gratuitement la maintenance corrective pour une durée de 2 mois." />
        <FaqQA question="RGPD" answer="Nous respectons les règles du RGPD et mettons en place des mesures de sécurité pour protéger les données de nos clients. Nous pouvons également vous accompagner dans la mise en place de votre conformité RGPD." /> 
        <FaqQA question="Quels sont les délais de réalisation d'un site web ?" answer="Les délais de réalisation d'un site web dépendent de la complexité du projet. Pour un site vitrine, il faut compter entre 2 et 4 semaines. Pour un site E-commerce, il faut compter entre 4 et 8 semaines. Pour un projet sur mesure, il faut compter entre 8 et 12 semaines." />
        <FaqQA question="Est-ce que vous faites du référencement ?" answer="Nous ne faisons pas de référencement payant, comme des campagnes Google Ads par exemple. Cependant, nous optimisons toujours le code de nos sites pour un référencement naturel (SEO) optimal. Le référencement payant (SEA) est quant à lui un métier à part entière." />
        <FaqQA question="Quels sont les avantages de l'éco-conception ?" answer="L'éco-conception permet de réduire l'impact environnemental de nos sites web. Cela passe par l'optimisation des images, des scripts, des requêtes et des serveurs. Cela permet également d'améliorer la performance des sites et l'expérience utilisateur." />
        <FaqQA question="Quels sont les avantages de l'accessibilité numérique ?" answer="L'accessibilité numérique permet de rendre les sites web accessibles à tous, y compris aux personnes en situation de handicap. Cela permet d'améliorer l'expérience utilisateur, le référencement naturel et l'image de marque de l'entreprise." />
        <FaqQA question="Quels sont les avantages de la sécurité web ?" answer="La sécurité web permet de protéger les données de l'entreprise et de ses clients. Cela permet d'éviter les attaques informatiques, les vols de données et les pertes financières. Cela permet également de garantir la disponibilité des sites et la confiance des utilisateurs." />
        <FaqQA question="Quels sont les avantages de la performance web ?" answer="La performance web permet d'améliorer la vitesse de chargement des sites, le taux de conversion, le référencement naturel et l'expérience utilisateur. Cela permet également de réduire les coûts d'hébergement et de maintenance." />
        <FaqQA question="Quels sont les avantages de l'expérience utilisateur ?" answer="L'expérience utilisateur permet d'améliorer la satisfaction des utilisateurs, la fidélisation, le taux de conversion et l'image de marque de l'entreprise. Cela permet également de réduire les coûts de support et de maintenance." />
        <FaqQA question="Quels sont les avantages du responsive design ?" answer="Le responsive design permet d'adapter les sites web à tous les types d'écrans (ordinateurs, tablettes, smartphones). Cela permet d'améliorer l'expérience utilisateur, le référencement naturel et la visibilité de l'entreprise. Cela permet également de réduire les coûts de développement et de maintenance." />
        <FaqQA question="Pourquoi votre site est si simpliste ?" answer="Ce site est construit avec AstroJs. C'est un site statique, qui consomme très peu de ressources et qui est hébergé gratuitement. Nous faisons le choix de la simplicité pour obtenir un site à faible impact environnemental. Contactez-nous si vous souhaitez en savoir plus sur ce type de solutions !" />
      </div>
    </div>
  </div>
</section>
