<section>
  <div class="items-center w-full px-8 py-24 mx-auto lg:px-24 max-w-7xl md:px-12">
    <div>
      <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
        <h1 class="text-4xl font-medium tracking-tight text-black md:text-5xl font-display">
          Conditions générales
        </h1>
        <p class="mt-4 text-base leading-7 text-gray-500">
          Dernière mise à jour le 20 juillet 2024
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-[40rem] prose-base prose text-gray-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black">
        <p>
          Cette politique de confidentialité décrit comment le site de l'agence NN collecte, traite et utilise vos informations personnelles à travers votre utilisation de notre site.
        </p>
        <h3>Définitions</h3>
        <h3>DPO</h3>
        <p>
          DPO signifie Délégué à la Protection des Données, et est la personne spécifiquement désignée par nous pour traiter vos demandes concernant cette politique de confidentialité et vos informations personnelles.
        </p>
        <p>
          Les informations personnelles désignent toute information vous identifiant. Cela inclut, mais n'est pas limité à, les éléments suivants : cookies et données d'utilisation.
        </p>
        <p>
          Les services désignent tous les services fournis par l'agence NN à vous, y compris (mais sans s'y limiter) ce site Web.
        </p>
        <p>
          Site Web désigne ce site web et tous les sites web, applications et communications qui publient un lien vers cette politique de confidentialité.
        </p>
        <h3>Collecte d'informations personnelles</h3>
        <p>
          Nous collectons et utilisons les informations personnelles uniquement dans la mesure nécessaire pour vous fournir les services. Nous collectons des informations personnelles pour le site Web afin de vous offrir une meilleure expérience en ligne.
        </p>
        <h3>Conservation des informations personnelles</h3>
        <p>
          Nous conservons les informations personnelles pour le temps le plus court nécessaire pour vous fournir des services et pour répondre à toutes nos obligations légales et de conformité. Pour déterminer cette période de conservation, nous prenons en compte (i) la nature des informations personnelles recueillies ; et (ii) la nature de nos obligations légales et de conformité. Toutes les informations personnelles qui ne sont plus nécessaires pour nous sont détruites et/ou effacées.
        </p>
        <h3>Données personnelles provenant de tiers</h3>
        <p>
          Nous pouvons, de temps à autre, obtenir des informations personnelles de tiers pour nous permettre de mieux adapter nos services à vous (Informations personnelles de tiers). Lorsque nous obtenons des informations personnelles de tiers, nous vous en informerons dans un délai d'un mois. Si nous utilisons ou partageons des informations personnelles de tiers, nous vous en informerons immédiatement.
        </p>
        <h3>Vos droits</h3>
        <p>
          Concernant les informations personnelles que nous détenons, vous avez les droits suivants :
        </p>
        <ul>
          <li>
            Accès : Vous pouvez nous demander l'accès à vos données que nous détenons sur vous.
          </li>
          <li>
            Rectification : Si les données que nous détenons sur vous sont inexactes, vous pouvez nous demander de les corriger. Si les données que nous détenons sont incomplètes, vous pouvez nous demander de les compléter.
          </li>
          <li>
            Effacement : Sous certaines conditions, vous pouvez nous demander d'effacer toutes les données que nous détenons sur vous.
          </li>
          <li>
            Restriction : Sous certaines conditions, vous pouvez nous demander de restreindre le traitement des données que nous détenons sur vous.
          </li>
          <li>
            Portabilité : Sous certaines conditions, vous pouvez nous demander de transférer toutes les données que nous détenons sur vous à un tiers (y compris vous-même).
          </li>
          <li>
            Opposition : Sous certaines conditions, vous pouvez vous opposer à ce que nous traitions les données que nous détenons sur vous.
          </li>
        </ul>
        <h3>Réseaux sociaux</h3>
        <p>
          Vous pouvez choisir d'interagir avec nos services via une variété de sites et plateformes de médias sociaux, par exemple Facebook, Instagram et Twitter. Lorsque vous interagissez avec nos services via ces plateformes de médias sociaux, vous pouvez nous permettre de recevoir des informations personnelles sur la manière dont vous interagissez avec nos services. Cela dépendra de vos paramètres de confidentialité sur chaque site et plateforme de médias sociaux. Les données que nous recevons de vous par le biais de votre interaction avec nos services sur les sites et plateformes de médias sociaux seront utilisées par nous sous réserve des termes de cette politique de confidentialité. Selon les paramètres de confidentialité de votre site de médias sociaux, vos informations personnelles peuvent devenir publiques pour une communauté d'utilisateurs si vous choisissez d'interagir avec nos services via ces plateformes. Pour plus d'informations sur la manière dont vous pouvez personnaliser vos paramètres de confidentialité sur les sites de médias sociaux et comment ces sites gèrent votre confidentialité, veuillez vous référer à la politique de confidentialité de chaque site de médias sociaux en particulier.
        </p>
        <h3>Mineurs</h3>
        <p>
          Nous ne collectons pas sciemment d'informations sur les enfants de moins de 16 ans (« Enfant »). Si vous prenez connaissance qu'un Enfant nous a fourni des informations personnelles, veuillez <a href="/contact">nous contacter</a>. Si nous prenons connaissance que nous avons collecté des informations personnelles d'un Enfant sans l'autorisation vérifiable de ses parents pour accéder à nos services, nous prendrons des mesures pour supprimer ces informations de nos serveurs.
        </p>
        <h3>Liens vers des tiers</h3>
        <p>
          Notre site web contient des liens vers d'autres sites web de tiers non possédés ou gérés par Negative Network. Cette politique de confidentialité s'applique uniquement à ce site web. Si vous cliquez sur un lien vers un site web de tiers, la politique de confidentialité de ce site s'appliquera. Nous vous recommandons vivement de lire les politiques de confidentialité d'autres sites web car elles peuvent différer des nôtres.
        </p>
        <h3>Mises à jour</h3>
        <p>
          Nous révisons constamment notre politique de confidentialité et nos procédures pour nous assurer qu'elles respectent les meilleures pratiques. Cette politique a été mise à jour pour la dernière fois le 20 juillet 2024.
        </p>
        <h3>Contactez-nous</h3>
        <p>
          Si vous avez des questions ou des suggestions concernant notre politique de confidentialité ou souhaitez en savoir plus sur les informations personnelles que nous détenons, veuillez <a href="/contact">nous contacter</a>.
        </p>
        <h3>Plaintes</h3>
        <p>
          Si vous pensez que nous avons manqué à nos obligations envers vous en vertu de cette politique de confidentialité ou des lois sur la confidentialité applicables, veuillez <a href="/contact">nous contacter</a>. Si vous n'êtes pas satisfait de notre réponse, vous avez le droit de déposer une plainte à tout moment auprès de votre autorité compétente.
        </p>
      </div>
    </div>
  </div>
</section>
