<section class="bg-zinc-100">
  <div class="max-w-7xl mx-auto flex-col justify-center items-center p-40">
    <h2
    class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">Un projet ? Une question ? <br>
    Contactez-nous !</h2>

    <p class="my-10">Nous vous répondons en un jour ouvré et faisons des devis gratuitement</p>

    <form
      action="https://formspree.io/f/xdknkqyz"
      method="POST"
      class="flex flex-col max-w-sm bg-gray-600 rounded-lg p-8 text-gray-300 mt-10 mx-auto child:mb-4 child:rounded"
    >
      <label>Votre adresse email :</label>
      <input type="email" name="email" />
      <label>Votre message :</label>
      <textarea name="message" rows="7"></textarea>
      <button type="submit">Envoyer</button>
    </form>
  </div>
</section>
