---
import Menu from "./Menu.astro";
import { Image } from "astro:assets";
import logo from "/src/assets/images/logo-NN.gif";
---

<footer>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24"
  >
    <div class="flex">
      <a
        href="/"
        class="xl:col-span-1 text-black inline-flex items-center gap-3"
      >
        <Image
          src={logo}
          alt="Logo Negative Network"
          class:list={"h-8 w-auto"}
        />
        <span class="font-bold font-display">Negative Network</span>
      </a>

      <Menu />
    </div>

    <!-- <div class="flex mt-10 ">
      <p>
        <small>
          Negative Network SARL <br>
          CDV 21264 <br>
          350, chemin du Pré neuf <br>
          38350 LA MURE (D'ISERE) FRANCE <br> <br>
          09 72 32 07 02 <br> 
          contact@negative-network.com <br>
        </small>
      </p>
    </div> -->
  </div>
</footer>
<footer class="bg-white">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-6"
  >
    <div class="border-t pt-6 flex">
      <p class="text-sm text-neutral-600 lg:col-span-2">
        © {new Date().getFullYear()} Negative Network
      </p>
      <p class="ml-auto">
        <a
          href="/mentions-legales"
          class="text-sm text-neutral-600 hover:text-accent-400"
          >Mentions légales</a
        >
      </p>
    </div>
  </div>
</footer>
