---
import Menu from "./Menu.astro";
import Cta from "../global/Cta.astro";
import { Image } from "astro:assets";
import logo from "@assets/images/logo-NN.gif";
---

<Cta />

<footer class="flex flex-col">
  <div
    class="items-center w-full px-8 py-24 mx-auto lg:px-24 max-w-7xl md:px-12"
  >
    <div class="flex flex-col items-center justify-center md:flex">
      <a
        href="/"
        class="inline-flex items-center gap-3 text-black xl:col-span-1"
      >
        <Image
          src={logo}
          alt="Logo Negative Network"
          class:list={"h-8 w-auto"}
        />
        <span class="font-bold font-display">Negative Network</span>
      </a>

      <nav
        class="footer flex flex-col items-center justify-center my-10 md:flex-row child:mb-2"
      >
        <Menu />
      </nav>
    </div>
  </div>

  <div
    class="flex flex-col justify-center items-center w-full px-8 py-6 mx-auto lg:px-24 max-w-7xl md:px-12"
  >
    <p class="text-xs mb-4">Eco-conception à faible impact environnemental !</p>
    <div id="wcb" class="carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer
    ></script>
  </div>

</footer>
<footer class="bg-white">
  <div
    class="items-center w-full px-8 py-6 mx-auto lg:px-24 max-w-7xl md:px-12"
  >
    <div class="flex pt-6 border-t">
      <p class="text-sm text-neutral-600 lg:col-span-2">
        © {new Date().getFullYear()} Negative Network
      </p>
      <p class="ml-auto">
        <a
          href="#"
          id="open_preferences_center"
          class="text-sm text-neutral-600 hover:text-accent-400 mr-4">Cookies</a
        >
        <a
          href="/mentions-legales"
          class="text-sm text-neutral-600 hover:text-accent-400"
          >Mentions légales</a
        >
      </p>
    </div>
  </div>
</footer>
